body {
  background-color: #353535;
  background-image: url('../images/background.png');
}

.rounded-corners {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

#main-container {
}

#board-view {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #111111;
}

#status-message {
  height: 30px;
  text-align: center;
  color: #ffffff;
}

.cell {
  position: absolute;
}

.cellScore {
  color: #ffffff;
  font-size: 8px;
  text-align: center;
  padding-left: 3px;
}