body {
  background-color: #353535;
  background-image: url('images/background.png');
}

#main-container {
  background-color: #ffffff;
  padding: 20px;
  min-height: 500px;
}

#board-container {
  position: relative;
}

.cell {
  cursor: hand;
  cursor: pointer;
  position: absolute;
}