body {
  background-color: #353535;
  background-image: url('images/background.png');
}

#main-container {
  background-color: #ffffff;
  padding: 20px;
}

.cell-button {
  float: left;
  width: 30px;
}