<div class="cellIcon" style="position: absolute; left: 0px; top: 0px;">
  {{view App.PlayerIconView contentBinding="player"}}
</div>
<div class="cellScore" style="position: absolute; left: 0px; top: 0px">
  {{view.score}}
</div>