<div class="cellIcon" style="position: absolute; left: 0px; top: 0px;">
  {{view Gomoku.PlayerIconView contentBinding="player"}}
</div>
<div class="cellScore" style="position: absolute; left: 0px; top: 0px">
  {{#if Gomoku.gameController.debug}}
    {{view.score}}
  {{/if}}
</div>