<div id="status-message">
  {{#if App.gameController.gameOver}}
    {{#if App.gameController.winner}}
      {{App.gameController.winner.name}} wins!
    {{else}}
      Draw!
    {{/if}}
  {{/if}}
</div>

