jQuery: <a href="http://jquery.com">http://jquery.com</a><br/>
Ember: <a href="http://emberjs.com">http://emberjs.com</a><br/>
Handlebars: <a href="http://handlebarsjs.com">http://handlebarsjs.com</a><br/>
Bootstrap: <a href="http://twitter.github.io/bootstrap">http://twitter.github.io/bootstrap</a><br/>
Background texture: Gre3g - <a href="http://subtlepatterns.com/3px-tile">http://subtlepatterns.com/3px-tile</a><br/>