<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Gomoku</a>
      <form class="navbar-form pull-right">
        <button class="btn btn-inverse" {{action "reset" target="App.gameController"}}>
          New Game
        </button>
      </form>
    </div>
  </div>
</div>
