<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Gomoku</a>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
          <a href="#" {{action reset item on="click" target="Gomoku.gameController"}}>
            New Game
          </a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="#">
            Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
