<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Gomoku</a>
  </div>

  <ul class="nav navbar-nav pull-right">
    <li>
      <a href="#" {{action reset item on="click" target="Gomoku.gameController"}}>
        New Game
      </a>
    </li>
    <li class="divider-vertical"></li>
    <li>
      <a href="#">
        Settings
      </a>
    </li>
  </ul>
</nav>