<div id="status-message">
  <h5>
  {{#if Gomoku.gameController.gameOver}}
    {{#if Gomoku.gameController.winner}}
      {{Gomoku.gameController.winner.name}} wins!
    {{else}}
      Draw!
    {{/if}}
  {{/if}}
  </h5>
</div>

